@import '~bootstrap/scss/bootstrap';
@import 'toast.scss';

:root {
  --text-success: green;
  --text-error: red;
  --hover-color: #808080;
  --navbar-background: rgba(32, 32, 32, 1);
  --white-color: #FFFFFF;
  --black-color: #202020;
  --gray-color: #808080FF;
  --text-color: #FFFFFF;
  --image-simulator: #8bc34a;
  --button-background-color: #D9D9D9;
  --button-text-color: #202020;
  --main-navbar-background-color: #1E1E1E;
  --search-input-background-color: #626262;
  --container-background-color: #202020;
  --card-background-color: #2f2f2f;
  --menu-settings-background-color: #404040;
  --background-trans: #00000080;

  // old

  //colors
  --color-muted: #8d96a0;
  --color-link: #4493f8;
  --green-color: #238636;
  --green-color-active: #2e9a40;
  --color-peach: #f78166;
  --color-blue: #0a53be;
  --color-blue-active: #4493f8;

  --background-color: #0d1117;
  --background-black: #010409;
  --background: #0d1117;

  --input-background: #0d1117;

  --navbar-background-color: #010409;
  --dropdown-menu-background-color: #171b21;

  --link-active-background-color: #21262d;


  --border-color-default: #30363d;
  --underline-borderColor-active: #f78166;

  --border-radius-small: 12px;
  --border-radius-button: 6px;
  --svg-default-size: 16px;
  --avatar-size: 32px;
  --avatar-size-big: 200px;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--background);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.active {
  font-weight: 800 !important;
}

.logo {
  width: 40px;
  height: 40px;
}

a {
  font-size: 14px;
  color: var(--text-color);
  text-decoration: none !important;
}

.link-hover:hover {
  text-decoration: underline 1px var(--color-link) !important;
}

// Display



// Margin

.ml-mr-auto {
  margin-right: auto;
  margin-left: auto;
}

// Buttons
.button {
  padding: 5px 12px;
  color: var(--text-color);
  background-color: #202020;
  text-decoration: none;
  border: 1px solid var(--border-color-default);
  border-radius: var(--border-radius-button);
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: var(--navbar-background-color);

  }
}

.button-green {
  color: var(--white-color);
  background: var(--green-color);

  &:active,
  &:hover {
    background: var(--green-color-active);
  }

}

.button-block {
  display: block;
  width: 100%;
  text-align: center;
}

.button-gradient-peach {
  padding: 10px 15px;
  color: var(--text-color);
  border-radius: 5px;
  background: var(--color-peach);
  transition: 200ms ease-in-out !important;

  &:hover {
    transform: scale(1.03) !important;
  }
}

.button-navbar {
  padding: 6px 8px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 10px;
  border: none;
  border-radius: 6px;

  color: #e6edf3 !important;
  background: none !important;

  &:hover {
    background: var(--link-active-background-color) !important;
    color: #e6edf3 !important;
  }
}

.button-no-style {
  color: white;
  border: none;
  background-color: transparent;
}



// inputs, label

input {
  font-size: 14px !important;
  padding: 5px 12px;
  border: none;
  border-radius: var(--border-radius-button);

  &:focus {
    outline: 1px solid #2196f3;
  }
}

label {
  margin: 4px 0;
  font-size: 14px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px transparent;
  font-size: 14px;
}


// icons

.logo {
  width: 60px;
  height: 60px;
}

// list ( ul/li )

ul {
  list-style: none;
}

.ul-basic-style {
  margin: 14px 0 0 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    min-height: 5px;
    margin: 0;
    border-radius: 6px;
    transition: background 33.333ms linear 0s;
    color: #e6edf3;
    cursor: pointer;
    appearance: none;
    width: 100%;

    a {
      padding: 6px 8px;
      display: flex;
      -webkit-box-flex: 1;
      flex-grow: 1;
      border-radius: 6px;
      align-items: center;
      justify-content: start;
      color: #e6edf3;

      &:hover {
        color: #e6edf3;
      }

    }

    &:hover,
    &:active,
    &:focus {
      color: #e6edf3;
      background: var(--link-active-background-color);
    }


    .icon-wrap {
      color: var(--color-muted);
      margin-right: 8px;
    }
  }
}

// loading

.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px; /* Высота прелоадера */
  background-color: transparent; /* Цвет фона контейнера */
  overflow: hidden; /* Скрыть излишки прелоадера */
}

.preloader {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #f78166, transparent);
  animation: moveLine 1.5s infinite;
}

@keyframes moveLine {
  0% {
    left: -100%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

// HEADER

header {
  border-bottom: 1px solid var(--border-color-default);

  svg {
    color: var(--color-muted);
    width: var(--svg-default-size);
    height: var(--svg-default-size);
    margin: 0 6px 0 0;
  }

  .active-link {
    font-weight: 600;
    //border-bottom: 2px solid var(--underline-borderColor-active);
  }

  .active-link:after {
    background: var(--underline-borderColor-active); /* Цвет подчеркивания */
    border-radius: 4px; /* Скругление углов */
    bottom: -7px;
    content: "";
    height: 2px;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .navbar-container {
    z-index: 7;
    padding: 6px 20px;
    background-color: var(--navbar-background-color);

    h1 {
      margin: 0;
      color: var(--text-color);
    }

    .logo {
      width: 40px;
      height: 40px;
    }

    .nav-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }

  .navigation-menu {

    ul {
      margin: 0;
      padding: 0 10px;
    }

    li {
      color: #e6edf3;
      line-height: 24px;
      font-weight: 500;
      margin: 0 6px 6px 0;
      width: auto;
    }
  }
}

.account-image {
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: 50%;
  cursor: pointer;
}

.account-image-big {
  height: var(--avatar-size-big);
  width: var(--avatar-size-big);
  border: 1px solid var(--border-color-default);
  border-radius: 50%;
  cursor: pointer;
}

.account-image-big-wrap {
  height: fit-content;
  width: var(--avatar-size-big);
  position: relative;

  .link {
    display: flex;
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 20px;
    color: var(--text-color);
    background: var(--background-color);
    border: 1px solid var(--border-color-default);
    border-radius: 50%;

    &:hover {
      color: var(--color-blue-active);
    }
  }
}

.default-account-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a53be;
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: 50%;
  cursor: pointer;
}

// Main
main {
  flex: 1;

  .section-navbar {
    background-color: var(--main-navbar-background-color);

    .nav-menu {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid var(--text-color);
      padding: 10px 0;
      margin-bottom: 20px;

      .icon-wrap {
        * {
          width: 36px;
          height: 36px;
          margin-right: 16px;
        }
      }

      li {
        display: flex;
        align-items: center;
        list-style: none;

        a {
          font-weight: 400;
          font-size: 24px;
          color: var(--text-color);
          text-decoration: none;

          img {
            margin-right: 16px;
          }
        }
      }
    }
  }

}

// FORM PAGE

.form-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
  width: 360px;
  min-height: 400px;
  border: 1px solid var(--text-color);
  border-radius: 30px;
  color: var(--text-color);
  background: var(--navbar-background);

  h1 {
    color: var(--text-color);
  }

  input {
    width: 100%;
    padding-left: 0;
    border: none;
    border-bottom: 1px solid var(--text-color);
    background: var(--navbar-background);
    color: var(--text-color);
  }

  label {
    color: var(--hover-color);
  }

  button {
    margin: 20px 0;
    background: #00243f;

    &:hover {
      color: var(--text-color);
      background: #2567a5;
    }
  }

  input[type='checkbox'] {
    width: auto;
    margin-left: 10px;
  }

  .inpur-wrap {
    margin: 10px 0;
  }

  .password-input-wrap {
    position: relative;

    input {
      padding-right: 30px; /* Расстояние для размещения иконки */
    }

    span {
      position: absolute;
      top: 50%;
      right: 10px; /* Расположение иконки */
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}

// Account
.color-site-toggle {
  margin: 10px 0;

  .switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
    cursor: pointer;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 18px;
    //background-color: rgba(217, 217, 217, 1);
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 34px;
    width: 54px;
    border: 1px solid white;
    border-radius: 18px;
    background-color: #202020;
    transition: 0.4s;
  }

  .slider:after {
    border: 1px solid black;
  }

  //input:checked + .slider { nooo
  //  background-color: rgba(29, 29, 29, 1);
  //}

  input:checked + .slider:before {
    //background-color: rgba(217, 217, 217, 1);
    transform: translateX(46px);
  }

  .moon, .sun {
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    font-size: 20px;
  }

  .moon {
    left: 17px;
  }

  .sun {
    right: 17px;
  }
}


// footer

footer {
  width: 100%;
  height: 80px;
  background-color: var(--background);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      text-align: center;
      margin: 4px 0;
    }

    span {
      margin: 10px 0;
      font-weight: 600;
    }

    a {
      font-weight: 100;
    }

    button{
      font-weight: 100;
    }

    .translate-list {
      display: flex;
      width: 300px;

      li {
        width: 50%;
      }
    }
  }
}

// over-content

.over-content {
  position: fixed;
  display: none;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 24, 24, 0.5);
  z-index: 1000;

  svg {
    color: var(--color-muted);
    width: var(--svg-default-size);
    height: var(--svg-default-size);
    margin-right: 6px;
  }

  .nav-menu {
    margin-left: auto;
    padding: 16px;
    width: 320px;
    height: 100%;
    border: 1px solid var(--border-color-default);
    border-radius: var(--border-radius-small);
    background: var(--dropdown-menu-background-color);
    z-index: 1008;

    .account-image {
      margin-right: 6px;
    }
  }

}

.authentication-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
  }

  a {
    font-weight: 200;
    margin-left: 5px;
    color: var(--color-link);
  }

  .auth-form-body {
    background: #161b22;
    border: 1px solid var(--border-color-default);
    border-radius: 4px;

    input {
      border: 1px solid var(--border-color-default);
      width: 100%;
      margin-bottom: 10px;
      color: var(--text-color);
      background: var(--input-background);
    }

    button {
      margin: 8px 0;
    }

    h2 {
      margin-top: 20px;
      text-align: center;
      font-size: 14px;
    }

  }

}

.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    background: var(--navbar-background-color);
    border: 1px solid var(--border-color-default);
  }

  h1 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
  }

  h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
  }

  h4 {
    font-size: 20px;
    font-weight: 500;
  }


  a {
    font-weight: 200;
    margin-left: 5px;
    color: var(--color-link);
  }

  input {
    border: 1px solid var(--border-color-default);
    width: 100%;
    margin-bottom: 10px;
    color: var(--text-color);
    background: var(--input-background);
  }

  textarea {
    padding: 10px;
    width: 100%;
    min-height: 100px;
    border: 1px solid var(--border-color-default);
    color: var(--text-color);
    background: var(--navbar-background-color);
  }

  button {
    margin: 8px 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      background: var(--navbar-background-color);
      border: 1px solid var(--border-color-default);

      .file-name {
        font-weight: 400;
        font-size: 14px;
      }

      .file-size {
        color: var(--color-muted);
        font-weight: 300;
        font-size: 10px;
      }
    }
  }

}

.account-container {
  .input-wrap {
    display: block;
  }

}

.contacts-container {
  width: 100%;

  .contact-section {
    width: 100%;
    padding: 10px;

    .button-no-style {
      color: transparent;
    }

    &:hover .button-no-style {
      color: var(--white-color) !important;
      &:hover{
        color: var(--color-muted) !important;
      }
    }

  }

  .custom-border {
    border-bottom: 2px solid var(--underline-borderColor-active);
  }

  .add-contact-form {
    padding: 0 14px;
    gap: 14px;
  }

  .icon {
    color: var(--white-color);
  }
}




